{% extends 'quiz/base.html' %}

{% block title %}
User | Register
{% endblock title %}

{% block contant %}
<div class="col-12">
    {% if messages %}
    {% for message in messages %}
    <!-- <p {% if message.tags %} class="alert alert-{{message.tags}} md-5 {% endif %}">{{message}}</p> -->
    <div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}">
        {{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button></div>
    {% endfor %}
    {% endif %}
    <form class="autherization_form" action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
            <p>{{fm.label_tag}}</p>
            <div>{{fm}}</div>
            <p class="text-danger">{{fm.errors|striptags}}</p>
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Register" class="btn focused_btn">
            <span class="register">Already registered. <a href="/login/"><u>Click here</u></a><span> to Login</span>
            </span>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock contant %}